.subtitle {
  font-style: italic;
  font-weight: normal;
}

.buttons {
  display: flex;
  justify-content: center;
}

.email,
.github {
  border-radius: var(--border-radius);
  padding: 0.5rem 1rem;
  text-decoration: none;
  margin-right: 1rem;
}

.github,
.github:visited {
  background-color: rgb(37, 41, 46);
  color: #f0f0f0;
}

.github span::before, .email span::before {
  content: "";
  background-origin: content-box;
  background-position: center;
  background-repeat: no-repeat;
  filter: var(--button-filter-light);
  padding: 0 1rem 0 0.75rem;
}

.github span::before {
    background-image: url("/static/icons/tabler-icon-brand-github.svg");
}

.email span::before {
  background-image: url("/static/icons/tabler-icon-mail.svg");
}

.email,
.email:visited {
  background-color: var(--link-color);
  color: var(--background);
}
