/* Psalm */
/* Psalm/Canticle */
.Psalm-header, .Canticle-header {
  display: grid;
  margin: 1rem 0;
  width: 100%;
}

.Psalm-header > * {
  margin: 0;
  padding: 0;
}

.Psalm-header, .Psalm-section-header {
  display: flex;
  align-items: end;
  margin: 1rem 0;
}

.Psalm-local-name {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

.Psalm-latin-name {
	margin-left: 1rem;
}

.Psalm-header .Psalm-latin-name {
	display: block;
	margin-bottom: 0.5rem;
}

.Psalm-number {
  margin: 0;
  padding: 0;
  grid-area: number;
  font-size: 2.5rem;
  margin-top: -0.25rem;
}

.Psalm-verse-number {
  display: var(--psalm-number-display);
  grid-area: number;
  margin-right: 1em;
}

.Psalm-verse, .Invitatory-verse {
  display: grid;
  grid-template-rows: auto;
  margin: 0;
}

.Psalm-verse {
  grid-template-columns: var(
    --psalm-verse-grid-template-columns,
    1.5rem 1.5rem 1fr
  );
  grid-template-areas: var(
    --psalm-verse-grid,
    "number a a" "spacing spacing b"
  );
}

.Invitatory-verse {
  grid-template-columns: 1.5rem 1fr;
  grid-template-areas: "a a" "spacing b";
}

.Psalm-verse-a {
  display: block;
  grid-area: a;
  white-space: pre-wrap;
}
.Psalm-verse-b {
  grid-area: b;
  white-space: pre-wrap;
}

.reference {
  display: block;
  margin-left: auto;
  font-size: var(--rubric-size);
  text-align: right;
}