:root {
	/* Z indices */
	--modal-z-index: 3;
	--menu-z-index: 2;
	--main-z-index: 1;

	/* Colors */
	--background: #fafafa;
	--background-darker: #f0f0f0;
	--border-color: #e0e0e0;

	/* Padding and border radius */
	--border-radius: 0.25rem;
	--content-padding: 1rem;

	/* Toggle buttons */
	--ui-toggle-checked-color: #f0f0f0;
	--ui-toggle-checked-background: #c63232;
	--ui-toggle-unchecked-background: #f0f0f0;
	--ui-toggle-unchecked-background-hover: #f6abab;
}

/* Core layouts */
body {
	background-color: var(--background);
	font-family: Inter,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
	margin: 0;
	padding: 0;
}

.Header {
	background: var(--background);
	border-bottom: 1px solid var(--border-color);
	text-align: center;
	margin: 0;
	padding: 0;
	position: sticky;
	top: 0;
	display: flex;
	justify-content: center;
}

.Header-buttons {
	position: absolute;
	right: 0;
	padding-right: 0.5rem;
	padding-top: 0.5rem;
}

.Header-buttons button {
	background: none;
	border: none;
}

.Header h1 {
	font-size: 1.5rem;
	margin: 0;
	padding: 0.5rem;
}

.Layout-outlet > main {
	z-index: var(--main-z-index);
	padding: 1rem;
	max-width: 600px;
	margin: auto;
}

:not(.Header) {
	scroll-margin-top: 3rem;
}

/* Core UI */
button, label, summary, input[type=submit] {
	cursor: pointer;
}

/* Menu */
.Menu-root {
	margin: 0;
	padding: 1rem;
	position: fixed;
	max-width: 90vw;
	top: 0;
    width: 20rem;
	z-index: var(--menu-z-index);
}

.Menu-root[open] {
	background-color: var(--background-darker);
	border-right: 1px solid var(--border-color);
	height: 100vh;
}

.Menu-dialog {
	background-color: var(--background-darker);
	position: absolute;
    left: 0;
    top: 2rem;
    margin: 0;
    padding: 0;
    border: 0;
}

.Menu-search {
    margin: 0.5rem;
    width: calc(100% - 1.5rem);
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    background-image: url("/static/icons/tabler-icon-search-input.svg");
    background-position: left;
    background-repeat: no-repeat;
    border: 1px solid var(--border-color);
    border-radius: 3px;
    background-size: auto;
    -webkit-appearance: textfield;
}

.Menu-content, .Menu-content ul {
    list-style-type: none;
    margin: 0 0 0 1rem;
    padding: 0;
}

.Menu-content li {
    margin: 0;
    padding: 0.25rem;
}

.Menu-content li h1 {
    font-size: 1.25rem;
    height: 2.5rem;
    flex: 1;
}

/* Menu: hide summary text on mobile */
@media(max-width: 400px) {
	.Menu-label {
		display: none;
	}
}

/* Toggles */
.toggle-links a,
.toggle-links a:visited,
.toggle-links a:active {
	color: var(--link-color);
}

.toggle-links {
	display: flex;
	justify-content: center;
	padding: 0;
	border: none;
	margin: 0.25rem auto 0.25rem auto;
}

.toggle-links.right {
	justify-content: flex-end;
}

.toggle-links a,
.toggle-links a:visited {
	color: var(--color);
}

.toggle-links a {
	background: var(--ui-toggle-unchecked-background);
	text-align: center;
	padding: 0.25rem 0.25rem;
	cursor: pointer;
	border: 1px solid var(--ui-toggle-checked-background);
	border-right: 0;
	min-width: 3rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: auto;
	max-width: min(300px, 40vw);
	text-decoration: none;
	transition: border-color 0.15s ease-out, color 0.25s ease-out,
		background-color 0.15s ease-out, box-shadow 0.15s ease-out;
}

.toggle-links a:first-of-type {
	border-top-left-radius: var(--border-radius);
	border-bottom-left-radius: var(--border-radius);
}

.toggle-links a:last-of-type {
	border-right: 1px solid var(--ui-toggle-checked-background);
	border-top-right-radius: var(--border-radius);
	border-bottom-right-radius: var(--border-radius);
}

.toggle-links a.active {
	background: var(--ui-toggle-checked-background);
	box-shadow: 0 0 10px rgba(var(--ui-toggle-checked-background), 0.5);
	color: var(--ui-toggle-checked-color);
}

.toggle-links a:not(.current):hover,
.toggle-links a:focus {
	background: var(--ui-toggle-unchecked-background-hover);
	color: var(--color);
}
/* Input Radio Toggles */
.toggle {
	display: flex;
	justify-content: center;
	padding: 0;
	border: none;
	margin: 0.25rem auto 0.25rem auto;
}

.toggle legend {
	display: block;
	margin: 0.5rem auto 0.125rem auto;
	font-weight: bold;
}

.toggle label {
	background: var(--ui);
	text-align: center;
	padding: 0.25rem 0.25rem;
	cursor: pointer;
	border: 1px solid var(--ui-toggle-checked-background);
	border-right: 0;
	min-width: 3rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: auto;
	max-width: min(300px, 40vw);
}

.toggle label:first-of-type {
	border-top-left-radius: var(--border-radius);
	border-bottom-left-radius: var(--border-radius);
}

.toggle label:last-of-type {
	border-right: 1px solid var(--ui-toggle-checked-background);
	border-top-right-radius: var(--border-radius);
	border-bottom-right-radius: var(--border-radius);
}

.toggle input:checked+label {
	background: var(--ui-toggle-checked-background);
	box-shadow: 0 0 10px rgba(var(--ui-toggle-checked-background), 0.5);
	color: var(--ui-toggle-checked-color);
}

.toggle input:not(:checked)+label {
	background: var(--ui-toggle-unchecked-background);
}

.toggle input:not(:checked)+label:hover,
.toggle input:focus+label {
	background: var(--ui-toggle-unchecked-background-hover);
	color: var(--color);
}

/* Hide radio buttons *only* visually, leaving them accessible to screen readers */
.toggle input[type="radio"] {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}