/* CSS variables determining appearance */
:root {
	--main-width: 40rem;
	--background: #fefefe;
	--border-color: #e0e0e0;
	--overlay-shadow-color: #d0d0d0;
	--color: #101010;
	--font-family: "Sabon", Garamond, serif;
	--page-padding: 1rem;
	--rubric-size: 0.9rem;
	--rubric-color: #ea0000;
	--button-filter-light: invert(97%) sepia(97%) saturate(0%) hue-rotate(36deg) brightness(104%) contrast(105%);
	--button-filter-dark: gray saturate(0%) brightness(70%) contrast(1000%);
	--button-filter: var(--button-filter-dark);

	/* Colors */
	--color-success-background: #e1eddb;
	--color-success: #54863f;
	--color-error-background: #f7e5e4;
	--color-error: #db3c30;
	--search-match-color: #ffff90;
	--search-match-border: #ffff00;

	/* Navigation menu settings */
	--nav-button-height: 1.5rem;
	--menu-border-color: #f0f0f0;
	--nav-link-hover: var(--season);

	/* Display Settings */
	--response-weight: bold;
	--response-style: normal;

	--psalm-number-display: inline-block;

	/* Generic UI styles */
	--border-radius: 0.25rem;

	/* Toggle buttons */
	--ui-toggle-checked-color: #f0f0f0;
	--ui-toggle-checked-background: #c63232;
	--ui-toggle-unchecked-background: #f0f0f0;
	--ui-toggle-unchecked-background-hover: #f6abab;

	/* Links */
	--link-color: #c63232;
	--link-color-light: #f37f7f;
	--link-color-filter: invert(38%) sepia(78%) saturate(2321%) hue-rotate(335deg) brightness(76%) contrast(106%);
	--link-visited-color: #9a2626;

	/* Document selection */
	--selected-background: #ededf4;
	--selected-border: #e6e6ef;

	/* Source links */
	--source-link-background: #d9d9d9;

	/* UI elements */
	--ui-font: lighter 1.1rem "Gill Sans", "Gill Sans MT", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--ui-box-shadow: 0 0 3px rgba(0, 0, 0, 0.19);

	/* Seasonal Colors */
	--season-lightest: #fafafa;
	--season-light: #eaeaea;
	--season: #e0e0e0;
	--season-text: #101010;
}

a {
	color: var(--link-color);
}

a:visited {
	color: var(--link-visited-color);
}

.app-shell {
	background-color: var(--background);
	color: var(--color);
}

/* Dark Mode — Colors */
@media (prefers-color-scheme: dark) {
	.app-shell:not(.dark-mode-light) {
		--background: #202020;
		--border-color: #303030;
		--overlay-shadow-color: #404040;
		--color: #fefefe;
		--rubric-color: #ff7070;

		--button-filter: var(--button-filter-light);

		/* Colors */
		--color-success-background: #a5ca95;
		--color-success: #2a431f;

		/* Navigation menu settings */
		--menu-border-color: #303030;
		--nav-link-hover: #303030;

		/* Toggle buttons */
		--ui-toggle-checked-color: #e0e0e0;
		--ui-toggle-checked-background: #862222;
		--ui-toggle-unchecked-background: #303030;
		--ui-toggle-unchecked-background-hover: #c63232;

		/* Links */
		--link-color: #c45f5f;
		--link-color-filter: invert(53%) sepia(9%) saturate(3609%) hue-rotate(314deg) brightness(87%) contrast(73%);
		--link-visited-color: #c45f5f;

		/* Selections */
		--selected-background: #363637;
		--selected-border: #aeaeb2;

		/* Source links */
		--source-link-background: #494949;

		--season: #050505;
		--season-light: #151515;
		--season-lightest: #1f1f1f;
		--season-text: #efefef;
	}

	.menu-toggle-button:not(.hamburger) {
		filter: var(--button-filter-light);
	}

	button:not(.venite) img,
	a img {
		filter: var(--button-filter-light);
	}
}

.dark-mode-dark {
	--background: #202020;
	--border-color: #303030;
	--overlay-shadow-color: #404040;
	--color: #fefefe;
	--rubric-color: #ff7070;

	--button-filter: var(--button-filter-light);

	/* Colors */
	--color-success-background: #a5ca95;
	--color-success: #2a431f;

	/* Navigation menu settings */
	--menu-border-color: #303030;
	--nav-link-hover: #303030;

	/* Toggle buttons */
	--ui-toggle-checked-color: #e0e0e0;
	--ui-toggle-checked-background: #862222;
	--ui-toggle-unchecked-background: #303030;
	--ui-toggle-unchecked-background-hover: #c63232;

	/* Links */
	--link-color: #c45f5f;
	--link-visited-color: #c45f5f;

	/* Selections */
	--selected-background: #363637;
	--selected-border: #aeaeb2;

	/* Source links */
	--source-link-background: #494949;

	/* Seasonal Colors */
	--season: #050505;
	--season-light: #151515;
	--season-lightest: #1f1f1f;
	--season-text: #efefef;
}

.OrdinaryTime {
	--season: #409940;
	--season-light: #acdcac;
	--season-lightest: #def1de;
}

.dark-mode-dark .OrdinaryTime {
	--season: #050505;
	--season-light: #151515;
	--season-lightest: #1f1f1f;
	--season-text: #efefef;
}

@media (prefers-color-scheme: dark) {
	.app-shell:not(.dark-mode-light) .OrdinaryTime {
		--season: #050505;
		--season-light: #151515;
		--season-lightest: #1f1f1f;
		--season-text: #efefef;
	}
}