fieldset.horizontal {
  border: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

input[type=submit] {
  display: block;
  margin: auto;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

h2.day-name {
  font-style: italic;
  font-weight: normal;
}

.black-letter-days {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.black-letter-days.hidden {
  display: none;
}

.toggle.no-observance {
  visibility: hidden;
}

.reading-link-table {
  margin-top: 1rem;
  width: 100%;
}

.reading-link-table tr {
  vertical-align: top;
}

.reading-link-table td {
  text-align: center;
}

.reading-link-table ul {
  list-style-type: none;
  padding: 0;
}

.redirect-links {
  margin-top: 2rem;
  text-align: center;
  font-style: italic;
}