.toggle-links {
	display: flex;
	justify-content: center;
	padding: 0;
	border: none;
	margin: 0.25rem auto 0.25rem auto;
}

.toggle-links a {
	background: var(--ui);
	text-align: center;
	padding: 0.25rem 0.25rem;
	cursor: pointer;
	border: 1px solid var(--ui-toggle-checked-background);
	border-right: 0;
	min-width: 3rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: auto;
	max-width: min(300px, 40vw);
	text-decoration: none;
}

.toggle-links a:first-of-type {
	border-top-left-radius: var(--border-radius);
	border-bottom-left-radius: var(--border-radius);
}

.toggle-links a:last-of-type {
	border-right: 1px solid var(--ui-toggle-checked-background);
	border-top-right-radius: var(--border-radius);
	border-bottom-right-radius: var(--border-radius);
}

.toggle-links a {
	background: var(--ui-toggle-unchecked-background);
	transition: border-color 0.15s ease-out, color 0.25s ease-out,
		background-color 0.15s ease-out, box-shadow 0.15s ease-out;
}

.toggle-links a.current {
	background: var(--ui-toggle-checked-background);
	box-shadow: 0 0 10px rgba(var(--ui-toggle-checked-background), 0.5);
	color: var(--ui-toggle-checked-color);
	font-weight: bold;
}

.toggle-links a:not(.current):hover,
.toggle-links a:focus {
	background: var(--ui-toggle-unchecked-background-hover);
	color: var(--color);
}

.hymnal {
	text-align: center;
}

.search-state {
	display: block;
	margin: auto;
	text-align: center;
}

.search-state.hidden {
	visibility: hidden;
}

/* Stacked label-input pairs */
fieldset.stacked,
label.stacked {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: none;
}

fieldset.stacked label {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-weight: bold;
}

/* Hymn listings */
.hymn-listing {
	display: flex;
	flex-direction: column;
	margin: 0.5rem 0;
	border-bottom: 1px solid var(--border-color);
}

.hymn-listing .primary {
	display: flex;
	flex-direction: row;
	align-items: top;
}

.hymn-listing .secondary {
	display: flex;
	flex-direction: row;
}

.hymn-listing .secondary>* {
	display: flex;
	flex-direction: column;
	padding-left: 2rem;
	justify-content: space-between;
}

.hymn-listing .tag-list {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: right;
	flex-wrap: wrap;
	padding: 0.25rem;
	padding-left: 2rem;
	margin: 0;
	margin-bottom: 0.5rem;
}

.hymn-listing .tag-list li {
	list-style-type: none;
	margin-left: 0.5rem;
}

.hymn-listing .tag-list li a::before {
	content: "#";
}

.hymn-listing .tag-list li a,
.hymn-listing .tag-list li a:visited {
	border-radius: 0.5rem;
	color: var(--link-color);
	padding: 0.25rem;
	font-size: 0.8rem;
	text-decoration: none;
}

.hymn-listing.hidden {
	display: none;
}

.hymn-listing img {
	height: 1rem;
}

.hymn-listing .music-available {
	width: 1rem;
}

.hymn-listing .text-available {
	width: 1rem;
}

.hymn-listing .number {
	width: 2.5rem;
}

.hymn-listing .label {
	font-variant: small-caps;
}

.hymn-listing .meter {
	text-align: right;
	display: block;
	margin-left: auto;
	font-variant: small-caps;
}

.hymn-listing .composer,
.hymn-listing .author,
.hymn-listing .meter {
	font-size: 0.9rem;
}

.tune {
	font-variant: small-caps;
}

.hymn-listing .tune {
	text-align: right;
	margin-left: auto;
}