h2 {
	text-align: center;
}

input[type=submit] {
	display: block;
	margin: auto;
	margin-top: 1rem;
}

footer.success {
	width: 100%;
		padding: 0.5rem;
		font: var(--ui-font);
		text-align: center;
		margin-top: 5rem;
		display: block;
		color: var(--color-success);
		border: 1px solid var(--color-success);
		background: var(--color-success-background);
		border-radius: 3px;
}

fieldset.vertical {
	border: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.description {
	text-align: center;
	font-style: italic;
	margin-top: -0.125rem;
	margin-bottom: 0.25rem;
}

.preference {
	display: flex;
	flex-direction: column;
	margin: 0.5rem 0;
}