.toggle-links a, .toggle-links a:visited, .toggle-links a:active {
	color: var(--link-color);
}

.toggle-links {
	display: flex;
	justify-content: center;
	padding: 0;
	border: none;
	margin: 0.25rem auto 0.25rem auto;
}

.toggle-links.right {
	justify-content: right;
}

.toggle-links a, .toggle-links a:visited {
	color: var(--color);
}

.toggle-links a {
	background: var(--ui-toggle-unchecked-background);
	text-align: center;
	padding: 0.25rem 0.25rem;
	cursor: pointer;
	border: 1px solid var(--ui-toggle-checked-background);
	border-right: 0;
	min-width: 3rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: auto;
	max-width: min(300px, 40vw);
	text-decoration: none;
	transition: border-color 0.15s ease-out, color 0.25s ease-out,
			background-color 0.15s ease-out, box-shadow 0.15s ease-out;
}

.toggle-links a:first-of-type {
	border-top-left-radius: var(--border-radius);
	border-bottom-left-radius: var(--border-radius);
}

.toggle-links a:last-of-type {
	border-right: 1px solid var(--ui-toggle-checked-background);
	border-top-right-radius: var(--border-radius);
	border-bottom-right-radius: var(--border-radius);
}

.toggle-links a.current {
	background: var(--ui-toggle-checked-background);
	box-shadow: 0 0 10px rgba(var(--ui-toggle-checked-background), 0.5);
	color: var(--ui-toggle-checked-color);
	font-weight: bold;
}

.toggle-links a:not(.current):hover,
.toggle-links a:focus {
	background: var(--ui-toggle-unchecked-background-hover);
	color: var(--color);
}