.alert .overlay {
	opacity: 0.25;
	background: black;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 200;
	transition: opacity 0.25s ease;
}

.alert.hidden .overlay {
	opacity: 0;
	width: 0;
	z-index: -1;
}

.alert .content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	transform: translateX(-50%) translateY(-50%);
	position: fixed;
	z-index: 201;
	left: 50%;
	top: 50%;
	background: var(--background);
	padding: 1rem;
}

.alert.hidden .content {
	display: none;
}

button {
	background: var(--background);
	border: none;
	cursor: pointer;
}

header {
	width: 100%;
}

button.close {
	background: var(--background);
	display: block;
	margin-left: auto;
}

button.close svg {
	filter: var(--button-filter);
}