[role="tablist"] {
	white-space: nowrap;
	overflow-x: scroll;
	overflow-y: hidden;
	padding: 0;
	padding-bottom: 5px;
	scroll-behavior: smooth;
	scroll-snap-type: x mandatory;
	text-align: right;
	margin-left: auto;
	max-width: 80%;
}

[role="tab"],
[role="tab"]:focus,
[role="tab"]:hover {
	background: none;
	color: var(--color);
	cursor: pointer;
	font-size: 0.8rem;
	position: relative;
	z-index: 2;
	top: 2px;
	margin: 0;
	margin-top: 4px;
	padding: 3px 3px 4px;
	border: none;
	border-radius: 5px 5px 0 0;
	overflow: visible;
	outline: none;
	font-weight: bold;
	scroll-snap-align: start;
}

[role="tab"][aria-selected="true"] {
	border-bottom: 0.2rem solid var(--link-color);
	color: var(--link-color);
}

[role="tab"] span.focus {
	display: inline-block;
	padding: 2px 0.5rem;
	text-overflow: ellipsis;
	max-width: 10rem;
	white-space: nowrap;
	overflow: hidden;
}

[role="tab"]:focus span.focus {
	outline: auto;
}

[role="tabpanel"] {
	padding: 5px;
	border-radius: 0 5px 5px;
	min-height: 10em;
	min-width: 550px;
	overflow: auto;
}

.hidden {
	display: none;
}

[role="tabpanel"] p {
	margin: 0;
}
