  ul.other-notes, ul.black-letter-days {
    list-style-type: none;
    padding: 0;
    font-size: 0.9rem;
    margin: 0;
  }

  ul.other-notes {
    font-variant: small-caps;
  }

    ul.black-letter-days a {
    color: var(--color);
    font-style: italic;
  }

/* Mobile/phone-size: calendar as rows */
@media(max-width: 766px) {
  .weekday-labels {
    display: none;
  }

  .day {
    display: grid;
    grid-template-areas: "number main other";
    grid-template-columns: 2rem 1fr 4.5rem;
    margin-bottom: 0.25rem;
  }

  .month-number {
    grid-area: number;
  }

  .day-name, .alternative, .black-letter-days, .other-notes {
    display: block;
  }

  .main-listing, .black-letter-days {
    grid-area: main;
  }

  .other-notes {
    grid-area: other;
    text-align: right;
  }

  .padding {
    display: none;
  }
}

/* Tablet/desktop: true calendar view */
@media (min-width: 767px) {
  :root {
    --main-width: 1000px;
  }

  h2 {
    text-align: center;
  }

  .day.sunday > *,
  .day > .month-number {
    padding: 0;
  }

  .weekday-label {
    text-align: center;
    font-weight: bold;
    margin: 1px;
  }

  .padding {
    margin: 1px;
  }

  .day {
    border: 1px solid var(--border-color);
    vertical-align: top;
  }

  .month {
    display: table;
    border-collapse: collapse;
    width: 100%;
  }

  .week, .weekday-labels {
    display: table-row;
  }

  .day, .weekday-label, .padding {
    display: table-cell;
    padding: 0.5rem;
    position: relative;
    text-align: center;
    width: calc((var(--main-width) / 7) - 2px - 3rem);
  }

  .day, .padding {
    height: calc((var(--main-width) / 7) - 2px - 3rem);
  }

  .day * {
    display: block;
    text-align: center;
  }

  a.alternative {
    margin-top: 0.5rem;
  }

  body > main.lectionary.calendar {
    width: calc(var(--main-width) - var(--menu-width));
  }

  ul.other-notes, ul.black-letter-days {
    text-align: center;
    display: block;
    margin-top: 0.5rem;
  }

  ul.other-notes {
    position: absolute;
    bottom: 0;
    height: 2rem;
    text-align: center;
    width: calc(100% - 1rem);
  }

  .alternative {
    display: block;
  }

  .day-name, ul.black-letter-days a {
        overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
  }
}

/* Navigation/Settings Controls */
.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

legend {
  display: block;
  font-weight: bold;
  margin: auto;
}

label.stacked {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}