table.canticle-table {
  border-collapse: collapse;
}

table.canticle-table tr {
  vertical-align: top;
}

table.canticle-table tr td {
  vertical-align: top;
  padding: 0.25rem;
}

table.canticle-table tr.day > td {
  border-top: 1rem solid;
  border-color: var(--background);
}

table.canticle-table td.day-name {
  font-weight: bold;
}
