/* CSS variables determining appearance */
:root {
  --background: #fefefe;
  --border-color: #e0e0e0;
  --overlay-shadow-color: #d0d0d0;
  --color: #101010;
  --ui-background: #3030ff;
  --font-family: "Sabon", Garamond, serif;
  --page-padding: 1rem;
  --rubric-size: 0.9rem;
  --rubric-color: #ea0000;
  --error-color: rgb(234, 0, 0);
  --error-color-tint: rgba(234, 0, 0, 0.5);

  /* Colors */
  --color-success-background: rgba(5, 131, 5, 0.05);
  --color-success: rgb(5, 131, 5);

  /* Navigation menu settings */
  --nav-button-height: 1.5rem;
  --menu-border-color: #f0f0f0;
  --nav-link-hover: #f0f0f0;

  /* Display Settings */
  --response-weight: bold;
  --response-style: normal;

  --psalm-number-display: inline-block;

  /* Generic UI styles */
  --ui-border-radius: 0.25rem;

  /* Toggle buttons */
  --ui-toggle-checked-color: #f0f0f0;
  --ui-toggle-checked-background: #c63232;
  --ui-toggle-unchecked-background: #f0f0f0;
  --ui-toggle-unchecked-background-hover: #f6abab;
}

/* Font Definitions */
@font-face {
  font-family: "Sabon";
  font-weight: normal;
  font-style: normal;
  src: url("/static/fonts/Sabon_Roman.ttf");
}
@font-face {
  font-family: "Sabon";
  font-weight: normal;
  font-style: italic;
  src: url("/static/fonts/Sabon_Italic.ttf");
}
@font-face {
  font-family: "Sabon";
  font-weight: bold;
  font-style: normal;
  src: url("/static/fonts/Sabon_Bold.ttf");
}
@font-face {
  font-family: "Sabon";
  font-weight: bold;
  font-style: italic;
  src: url("/static/fonts/Sabon_BoldItalic.ttf");
}

/* Styles applying to everything */
body {
  color: var(--color);
  background-color: var(--background);
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  max-width: 100vw;
  overflow-x: hidden;
}

input {
  font-size: max(1rem, 16px);
}

body > header {
  text-align: center;
  /* Floats along the top of the screen */
  position: sticky;
  top: 0;
  background: var(--background);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0.5rem;
  border-bottom: 1px solid var(--menu-border-color);
  min-height: 1.5rem;
}

body > header .page-title {
  font-variant: small-caps;
  font-size: 1.25rem;
  margin: 0;
  /* Overflows into ellipsis */
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: calc(100vw - 6rem);
}

body > main {
  display: block;
  margin: auto;
  max-width: calc(100vw - calc(2 * var(--page-padding)));
  padding: 0.25rem;
  width: 30rem;
}

@media (min-width: 767px) {
  body > main {
    width: 35rem;
  }
}

.centered {
  display: block;
  margin: auto;
  text-align: center;
}

.error {
  color: var(--error-color);
}

/* Hide things *only* visually, leaving them accessible to screen readers */
.screen-reader-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Input Radio Toggles */
fieldset.toggle {
  display: flex;
  justify-content: center;
  padding: 0;
  border: none;
  margin: 0.25rem auto 0.25rem auto;
}

fieldset.toggle legend {
  display: block;
  margin: 0.5rem auto 0.125rem auto;
  font-weight: bold;
}

fieldset.toggle label {
  background: var(--ui);
  text-align: center;
  padding: 0.25rem 0.25rem;
  cursor: pointer;
  border: 1px solid var(--ui-toggle-checked-background);
  max-width: calc(45% - 0.5rem);
  min-width: 3rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: auto;
}

fieldset.toggle label:first-of-type {
  border-top-left-radius: var(--ui-border-radius);
  border-bottom-left-radius: var(--ui-border-radius);
}

fieldset.toggle label:last-of-type {
  border-top-right-radius: var(--ui-border-radius);
  border-bottom-right-radius: var(--ui-border-radius);
}

fieldset.toggle input + label {
  transition: border-color 0.15s ease-out, color 0.25s ease-out,
    background-color 0.15s ease-out, box-shadow 0.15s ease-out;
}

fieldset.toggle input:checked + label {
  background: var(--ui-toggle-checked-background);
  box-shadow: 0 0 10px rgba(var(--ui-toggle-checked-background), 0.5);
  color: var(--ui-toggle-checked-color);
  font-weight: bold;
}

fieldset.toggle input:not(:checked) + label {
  background: var(--ui-toggle-unchecked-background);
}

fieldset.toggle input:not(:checked) + label:hover {
  background: var(--ui-toggle-unchecked-background-hover);
}

/* Hide radio buttons *only* visually, leaving them accessible to screen readers */
fieldset.toggle input[type="radio"] {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Stacked label-input pairs */
fieldset.stacked,
label.stacked {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
}

fieldset.stacked label {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}

/* Global hidden class: simply removes items from the DOM flow, making them invisible both to screen readers and to visual users */
.hidden {
  display: none;
}

/* Nav Menu */
.menu {
  display: block;
  position: absolute;
  top: 0;
}

.menu.left {
  left: 0;
}

.menu.right {
  right: 0.5rem;
}

.menu input.menu-toggle-input {
  /* hide it */
  opacity: 0;
  /* place above both hamburgers and menu itself */
  position: absolute;
  top: 0.5rem;
  margin: 0;
  z-index: 5;
  height: var(--nav-button-height);
  width: var(--nav-button-height);
  cursor: pointer;
}

.menu.left {
  left: 0.5rem;
}

.menu.right input.menu-toggle-input {
  right: 1rem;
}

.menu .menu-toggle-button {
  position: absolute;
  top: 0.5rem;
  height: var(--nav-button-height);
  width: var(--nav-button-height);
}

.menu.left .menu-toggle-button {
  left: 0.5rem;
}

.menu.right .menu-toggle-button {
  right: 1rem;
}

.menu input.menu-toggle-input:not(:checked) ~ .menu-toggle-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: 0.25s ease;
}

.menu .menu-toggle-button {
  display: block;
  z-index: 3;
  width: var(--nav-button-height);
}

.menu .hamburger span {
  display: block;
  width: var(--nav-button-height);
  height: 0.1rem;
  position: relative;
  background: var(--color);
  border-radius: 0.25rem;
  z-index: 3;
  transition: transform 0.25s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.25s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.25s ease;
}

.menu input.menu-toggle-input:checked ~ .hamburger span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: var(--color);
  transition: 0.25s ease;
}

.menu input.menu-toggle-input:checked ~ .hamburger {
  margin-top: 0.5rem;
}

/* Hidden middle line */
.menu input.menu-toggle-input:checked ~ .hamburger span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/* Reversed final line */
.menu input.menu-toggle-input:checked ~ .hamburger span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/* Slide menu in */
.menu .menu-content {
  background: var(--background);
  border-right: 1px solid var(--menu-border-color);
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  max-width: 400px;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transition: transform 0.25s cubic-bezier(0.77, 0.2, 0.05, 1);
  z-index: 2;
}

.menu .menu-content ul {
  margin: 0;
  padding: 0;
}

.menu.left .menu-content {
  transform: translateX(-110%);
}

/* Right-menu content is an overlay */
.menu.right .menu-content {
  display: block;
  height: auto;
  width: auto;
  max-width: calc(95vw - 2rem);
  padding: 1rem;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-400%);
}

@media (min-width: 767px) {
  .menu.right .menu-content {
    max-width: calc(90vw - 4rem);
    padding: 2rem;
  }
}

.menu.left input.menu-toggle-input:checked ~ .menu-content {
  transform: translateX(-10%);
}

.menu.right input.menu-toggle-input:checked ~ .menu-content {
  transform: translateX(-50%) translateY(-50%);
}

.menu .overlay {
  opacity: 0;
  z-index: -1;
  width: 0;
}

.menu input.menu-toggle-input:checked ~ label .overlay {
  width: 100vw;
  opacity: 0.25;
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  transition: opacity 0.25s ease;
}

.menu .menu-content li h1 {
  font-size: 1.5rem;
}

.menu .menu-content li h1 a {
  padding: 0;
}

.menu .menu-content li {
  align-items: center;
  border-bottom: 1px solid var(--menu-border-color);
  display: flex;
  height: 2rem;
  justify-content: center;
  text-align: center;
}

.menu .menu-content li:not(:first-of-type):hover {
  background: var(--nav-link-hover);
}

.menu .menu-content h1 {
  margin: 0;
  font-variant: small-caps;
}

.menu a {
  color: var(--color);
  text-decoration: none;
  padding: 0.5rem;
  width: 100%;
}

ul.reading-links,
.reading-links ul {
  list-style-type: none;
  padding: 0;
}
