h2, h3, h4 {
  text-align: center;
}

h3 {
  font-style: italic;
}

.copyright {
  text-align: center;
  font-style: italic;
}

td {
  vertical-align: top;
}

.tune {
  font-variant: small-caps;
}

.hymnary-link {
	display: block;
	margin: auto;
	text-align: center;
}