main {
  font-family: Garamond, serif;
}

.hymn-listing {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
  border-bottom: 1px solid var(--border-color);
}

.hymn-listing .primary {
  display: flex;
  flex-direction: row;
  align-items: top;
}

.hymn-listing .secondary {
  display: flex;
  flex-direction: row;
}

.hymn-listing .secondary > * {
  display: flex;
  flex-direction: column;
  padding-left: 1.5rem;
  justify-content: space-between;
}

.hymn-listing.hidden {
  display: none;
}

.hymn-listing img {
  height: 1rem;
}

.hymn-listing .music-available {
  width: 1.5rem;
}

.hymn-listing .number {
  width: 2.5rem;
}

.hymn-listing .label {
  font-variant: small-caps;
}

.hymn-listing .meter {
  text-align: right;
  display: block;
  margin-left: auto;
  font-variant: small-caps;
}

.hymn-listing .composer, .hymn-listing .author, .hymn-listing .meter {
  font-size: 0.9rem;
}

h2,
h3,
h4 {
  text-align: center;
}

h3 {
  font-style: italic;
}

.copyright {
  text-align: center;
  font-style: italic;
}

td {
  vertical-align: top;
}

.tune {
  font-variant: small-caps;
  text-align: right;
  margin-left: auto;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: 0.5rem;
}

@media (min-width: 767px) {
  dl {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    width: 100%;
    overflow: visible;
  }
  dl dt {
    flex: 0 0 25%;
  }
  dl dd {
    flex: 0 0 75%;
    margin-left: auto;
    text-align: left;
  }
}

.hymnary-link {
  text-align: center;
}

.page-scan-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-scan-controls.expanded {
  background: var(--background);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  position: fixed;
  top: 0;
  z-index: 20;
  width: min(600px, 90vw);
  padding: 0.5rem;
  margin: 0;
}

.page-scan {
  display: block;
  border: 1px solid var(--border-color);
  text-align: center;
  height: auto;
  max-width: min(1000px, 95vw);
  display: flex;
  height: min(600px, 95vw);
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
  padding: 2px;
}

.page-scan.expanded {
  margin: 0;
  padding: 0;
  z-index: 10;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  max-height: calc(100vh - 6rem);
  height: auto;
  width: auto;
  overflow-y: scroll;
  padding-top: 5rem;
}

.overlay.expanded {
  opacity: 0.25;
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9;
}

main footer {
  text-align: center;
  margin: auto;
  font-size: 0.8rem;
  font-style: italic;
}
