/* Mobile/phone-size: calendar as rows */
.weekday-label {
  display: none;
}

.month {
  display: flex;
  flex-direction: column;
}

.day > .month-number {
  padding-right: 0.5rem;
}

.month {
  display: table;
}

.day {
  display: table-row;
  vertical-align: top;
}

.day > * {
  display: table-cell;
}

/* Tablet/desktop: true calendar view */
@media (min-width: 767px) {
  :root {
    --main-width: min(1000px, 100vw);
  }

  h2 {
    text-align: center;
  }

  .day,
  .padding,
  .weekday-label {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: top;
    padding: 0.5rem;
    width: calc((var(--main-width) / 7) - 2px - 2rem);
  }

  .weekday-label {
    text-align: center;
    font-weight: bold;
    margin: 1px;
  }

  .day,
  .padding {
    min-height: calc((var(--main-width) / 7) - 2px - 2rem);
  }

  .padding {
    margin: 1px;
  }

  .day {
    border: 1px solid var(--border-color);
  }

  .month {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  body > main {
    width: var(--main-width);
  }
}
