footer {
  position: fixed;
  bottom: 0;
  height: 3rem;
  width: 100vw;
  text-align: center;
}

.success {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
  background-color: var(--color-success-background);
  color: var(--color-success);
  margin: 0;
}

.success.hidden {
  display: none;
}
