h2,
h3 {
  text-align: center;
}

footer {
  background: var(--background);
  position: fixed;
  bottom: 0;
  width: 100vw;
  text-align: center;
  z-index: 5;
}

.success,
.error {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 3rem;
  width: 100%;
  margin: 0;
}

.success {
  background-color: var(--color-success-background);
  color: var(--color-success);
}

.error {
  background-color: var(--color-error-background);
  color: var(--color-error);
}

.success.hidden {
  display: none;
}
.error.hidden {
  display: none;
}

.description {
  text-align: center;
  font-style: italic;
  margin-top: -0.125rem;
  margin-bottom: 0.25rem;
}

.preference {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
}
